<div class="d-flex justify-content-center">
  <h1> IGRA SPOJNICE </h1>
</div>

<div class="row justify-content-center">
  <h1> Igra Spojiti nazive sa leve strane sa odgovarajucim nazivima desne strane </h1>
  <h1> Logujte se kako bi igrali Ili napravite novi nalog </h1>
</div>

<div id="additionalLinksBtn" class="d-flex align-items-center flex-column">
  <a routerLink="/login">
    <button type="button" class="btn btn-outline-danger">Igraj!</button>
  </a>
  
  <br />
  <br />

  <img src="https://thumbs.dreamstime.com/z/quiz-time-banner-colorful-brush-design-vector-background-quiz-time-banner-colorful-brush-strokes-125359221.jpg" />
  

</div>


