<div id="ifadmin">
    <button (click)="onUserLogout()" id="logoutBtn" type="button" class="btn btn-danger">Logout</button>
    <!--button 
        (click)="onCreateNewGameModal()"
        *ngIf="this.userService.getLoggedinUser().role == 'admin'"
        id="modalCreateStartBtn"
        type="button"
        class="btn btn-warning">
            Napravi Novu Igru
    </button-->

   <a routerLink="/game-table-view">
        <button
            type="button"
            class="btn btn-warning edit-games-a"
            *ngIf="this.userService.getLoggedinUser().role == 'admin'"
            >Izmeni Igre</button>
   </a> 

   <a routerLink="/">
        </a>
        <a (click)="onNewGame()">
        <button type="button" class="btn btn-outline-info a-btn-bgcolor">Nova Igra</button>
   </a>       
</div>

