<div id="ifadmin">
    <button (click)="onUserLogout()" id="logoutBtn" type="button" class="btn btn-danger">Logout</button>
    <!--button 
        (click)="onCreateNewGameModal()"
        *ngIf="this.userService.getLoggedinUser().role == 'admin'"
        id="modalCreateStartBtn"
        type="button"
        class="btn btn-warning">
            Napravi Novu Igru
    </button-->

   <a routerLink="/game-table-view">
        <button
            type="button"
            class="btn btn-warning edit-games-a"
            *ngIf="this.userService.getLoggedinUser().role == 'admin'"
            >Izmeni Igre</button>
   </a> 

   <a routerLink="/">
        </a>
        <a (click)="onNewGame()">
        <button type="button" class="btn btn-outline-info a-btn-bgcolor">Nova Igra</button>
   </a>       
</div>

<!-- Modal ------------------------------------------------------------------------------------------->
<!--
<div class="modal fade" id="createGameModal" tabindex="-1" role="dialog" aria-labelledby="createGameModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="createGameModalLabel">Napravi Novu Igru</h5>
    </div>
    <div class="modal-body">
    
    <form if="formCreateGame">
        <input id="nameInputCreateGame" type="text" placeholder="Naziv Liste" class="form-control" required
        ngModel name="nameInput" required [(ngModel)]="this.inputName">
        <div id="createGameInputElements">
            <h5>1.</h5>
            <div class="input-group">
                <input  type="text" placeholder="Element Prve Kolone" class="form-control" required
                ngModel name="c1-0" required [(ngModel)]="this.inputList[0].columnOne">
                <input  type="text" placeholder="Element Druge Kolone" class="form-control" required
                ngModel name="c2-0" required [(ngModel)]="this.inputList[0].columnTwo">
            </div>

            <h5>2.</h5>
            <div class="input-group">
                <input  type="text" placeholder="Element Prve Kolone" class="form-control" required
                ngModel name="c1-1" required [(ngModel)]="this.inputList[1].columnOne">
                <input  type="text" placeholder="Element Druge Kolone" class="form-control" required
                ngModel name="c2-1" required [(ngModel)]="this.inputList[1].columnTwo">
            </div>

            <h5>3.</h5>
            <div class="input-group">
                <input  type="text" placeholder="Element Prve Kolone" class="form-control" required
                ngModel name="c1-2" required [(ngModel)]="this.inputList[2].columnOne">
                <input  type="text" placeholder="Element Druge Kolone" class="form-control" required
                ngModel name="c2-2" required [(ngModel)]="this.inputList[2].columnTwo">
            </div>

            <h5>4.</h5>
            <div class="input-group">
                <input  type="text" placeholder="Element Prve Kolone" class="form-control" required
                ngModel name="c1-3" required [(ngModel)]="this.inputList[3].columnOne">
                <input  type="text" placeholder="Element Druge Kolone" class="form-control" required
                ngModel name="c2-3" required [(ngModel)]="this.inputList[3].columnTwo">
            </div>

            <h5>5.</h5>
            <div class="input-group">
                <input  type="text" placeholder="Element Prve Kolone" class="form-control" required
                ngModel name="c1-4" required [(ngModel)]="this.inputList[4].columnOne">
                <input  type="text" placeholder="Element Druge Kolone" class="form-control" required
                ngModel name="c2-4" required [(ngModel)]="this.inputList[4].columnTwo">
            </div>

            <h5>6.</h5>
            <div class="input-group">
                <input  type="text" placeholder="Element Prve Kolone" class="form-control" required
                ngModel name="c1-5" required [(ngModel)]="this.inputList[5].columnOne">
                <input  type="text" placeholder="Element Druge Kolone" class="form-control" required
                ngModel name="c2-5" required [(ngModel)]="this.inputList[5].columnTwo">
            </div>

            <h5>7.</h5>
            <div class="input-group">
                <input  type="text" placeholder="Element Prve Kolone" class="form-control" required
                ngModel name="c1-6" required [(ngModel)]="this.inputList[6].columnOne">
                <input  type="text" placeholder="Element Druge Kolone" class="form-control" required
                ngModel name="c2-6" required [(ngModel)]="this.inputList[6].columnTwo">
            </div>

            <h5>8.</h5>
            <div class="input-group">
                <input  type="text" placeholder="Element Prve Kolone" class="form-control" required
                ngModel name="c1-7" required [(ngModel)]="this.inputList[7].columnOne">
                <input  type="text" placeholder="Element Druge Kolone" class="form-control" required
                ngModel name="c2-7" required [(ngModel)]="this.inputList[7].columnTwo">
            </div>

            <h5>9.</h5>
            <div class="input-group">
                <input  type="text" placeholder="Element Prve Kolone" class="form-control" required
                ngModel name="c1-8" required [(ngModel)]="this.inputList[8].columnOne">
                <input  type="text" placeholder="Element Druge Kolone" class="form-control" required
                ngModel name="c2-8" required [(ngModel)]="this.inputList[8].columnTwo">
            </div>

            <h5>10.</h5>
            <div class="input-group">
                <input  type="text" placeholder="Element Prve Kolone" class="form-control" required
                ngModel name="c1-9" required [(ngModel)]="this.inputList[9].columnOne">
                <input  type="text" placeholder="Element Druge Kolone" class="form-control" required
                ngModel name="c2-9" required [(ngModel)]="this.inputList[9].columnTwo">
            </div>
        </div>
        <p *ngIf="formInputInvalid" class="text-danger">Morate popuniti sva polja!</p>
        <button
            type="button"
            id="sendDataCreateGameBtn"
            class="btn btn-primary margin-top-br"
            (click)="onCreateNewGameFormSubmit()">
            SUBMIT
        </button>
        <button 
            (click)="onCreateNewGameModalClose()"
            type="button" id="cancelModal"
            class="btn btn-danger">
            CLOSE
        </button>
    </form>
    
    </div>
    </div>
    </div>
    </div>-->
